body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  padding: 0;
}

a, a:hover {
  color: rgb(0, 0, 165);
}

#logo-img {
  transition: all ease-in-out 0.3s;
}

#logo-img:hover {
  transition: all ease-in-out 0.3s;
  transform: scale(1.05);
}

main {
  width: 80%;
  margin: auto;
}

.about-me-paragraph {
  font-size: 20px;
}

.article {
  min-height: 300px;

  a {
    color: black;

    &:hover {
      text-decoration: none;
    }
  }
}

.article-body {
  ul li p {
    margin-bottom: 0;
  }
}

.article-card {
  box-shadow: 0 0 8px #aaaaaa;
}

header h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
}

.header-jumbo {
  // background: rgb(216, 238, 232);
  background: rgb(229, 248, 255);
  // box-shadow: 0 5px rgb(191, 212, 219);
  // background: rgb(0, 0, 0);
  // background: linear-gradient(
  //   180deg,
  //   rgb(216, 238, 232) 0%,
  //   rgb(216, 238, 232) 95%,
  //   rgba(255, 255, 255, 1) 100%
  // );
}

blockquote {
  background-color: rgb(235, 235, 235);
  padding: 10px 20px 5px 20px;
  border-left: 5px solid rgb(111, 197, 255);
  border-radius: 5px;
}

.embed-video-container iframe {
  max-width: 100%;
}

.embed-video-container {
  margin: auto;
  display: flex;
  justify-content: center;
}
