body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

// #logo-img {
//   height: 300px;
// }

#logo-img {
  transition: all ease-in-out 0.3s;
}

#logo-img:hover {
  transition: all ease-in-out 0.3s;
  transform: scale(1.5);
}

main,
header {
  width: 100%;
}

.article {
  // width: 30%;
  min-height: 300px;

  a {
    color: black;

    &:hover {
      text-decoration: none;
    }

  }
}

.header-jumbo {
  background-color: transparent;
}

blockquote {
  background-color: rgb(235, 235, 235);
  padding: 10px 20px 5px 20px;
  border-left: 5px solid rgb(209, 209, 209);
  border-radius: 5px;
}

.embed-video-container iframe {
  max-width: 100%;
}